<html>

<head>
<title>Title</title>
</head>

<body>

<style>
ol li { margin-top: 20px; }
</style>

<h2 style="text-align: center;">Homework 1</h2>
<h3 style="text-align: center;">DASC 500</h3>
<h4 style="text-align: center;">Due: 22 January, 2020</h4>
<p style="text-align: left;"><br /><strong>Remember</strong> this is a graduate class so you reflect on yours answers and each answer should be clear and complete.</p>
<p style="text-align: left;">&nbsp;</p>

<ol style="margin-bottom:10px;">
<li>Using the sCommuteTimes Excel file provided
<ol type="a">
<li>What is the mean commute time?</li>
<li>What is the median commute time?</li>
<li>What is the mode for these 48 cities?</li>
<li>What is the variance and standard deviation?</li>
<li>What is the third quartile?</li>
</ol>
</li>
<li>Using the JoblessRate Excel file provided
<ol type="a">
<li>What is the mean jobless rate % and Delinquent Loan %?</li>
<li>What is the median jobless rate % and Delinquent Loan %?</li>
<li>What is the variance and standard deviation?</li>
<li>Compute the correlation between jobless rate % and Delinquent Loan%?</li>
<li>Develop an appropriate histogram of the data.</li>
</ol>
</li>
<li>
How many phases are in the CRISP-DM Process Methodology and what are they?
</li>
<li>
In your own words, describe each phase of the CRISP-DM Process Methodology. (you will be graded for completing your answer but not accuracy)
</li>
<li>
What types of activities take place during the CRISP-DM Business Understanding Phase?
</li>
<li>
What types of activities take place during the CRISP-DM Data Understanding Phase?
</li>
<li>
Search the web and provide 3 examples of poor or misleading data visualization. Explain, in detail, why you think these are poor or misleading examples.
</li>
</ol>
</body>
</html>
